.user-details-container {
        padding: 20px;
}

.user-details-form {
    margin-left: 10px !important;
}

.user-details-form .row{
    padding-bottom: 10px !important;
}

.lbl-column {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.company-info-containr {
    padding-left: 0px !important;
}

.geo {
    padding-left: 20px !important;
}